@page
@model SPYte.Areas.Identity.Pages.Account.Manage.AddUserProductsModel;
@{
    ViewData["Title"] = "Add Product";
    ViewData["ActivePage"] = ManageNavPages.UserProducts;
    var catList = @ViewData["Categories"];
}

<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="container pb-5 mb-5">

    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Price"></label>
                    <input asp-for="Input.Price" class="form-control" />
                    <span asp-validation-for="Input.Price" class="text-danger"></span>
                </div>
                <div class="row m-md-0">
                    <div class="form-group col p-0">
                        <label asp-for="Input.Stock"></label>
                        <input asp-for="Input.Stock" class="form-control" />
                        <span asp-validation-for="Input.Stock" class="text-danger"></span>
                    </div>
                    <div class="form-group col pr-1">
                        <label asp-for="Input.Unit"></label>
                        <input asp-for="Input.Unit" class="form-control" />
                        <span asp-validation-for="Input.Unit" class="text-danger"></span>
                    </div>
                </div>




                <fieldset class="form-group">
                    <a href="javascript:void(0)" onclick="$('#files').click()">Upload Image</a>
                    <input asp-for="Input.Files" type="file" id="files" name="files" style="display: none;" class="form-control" multiple accept=".jpg,.jpeg,.png">
                    <span asp-validation-for="Input.Files" class="text-danger"></span>
                </fieldset>
                <div class="preview-images-zone"></div>


                @*<div class="form-group">
                    <label asp-for="Input.Files"></label>
                    <input asp-for="Input.Files" class="form-control" type="file" multiple name="files" id="files" />
                    <span asp-validation-for="Input.Files" class="text-danger"></span>
                </div>*@


            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.Summary"></label>
                    @*<input asp-for="Input.Summary" class="form-control" />*@
                    <textarea asp-for="Input.Summary" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Input.Summary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Description"></label>
                    @*<input asp-for="Input.Content" class="form-control" style="height:200px" />*@
                    <textarea asp-for="Input.Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
                <label>Cateogory</label>
                <div class="row">
                    <div class="col-md-8 pb-3">
                        @if(catList != null)
                        {
                            <select id="Categories" class="form-control" asp-items="(IEnumerable<SelectListItem>)catList">
                                <option value="-1">Select Category</option>
                            </select>
                        }

                    </div>
                    <div class="col-md-4 pb-3 ">
                        <a class="btn btn-outline-info w-100" onclick="addTag()"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
                <div class="categories-box">
                    <input type="hidden" asp-for="Input.Categories[0]" id="cat0" value="-1" readonly/>
                    <input type="hidden" asp-for="Input.Categories[1]" id="cat1" value="-1" readonly/>
                    <input type="hidden" asp-for="Input.Categories[2]" id="cat2" value="-1" readonly/>
                    <input type="hidden" asp-for="Input.Categories[3]" id="cat3" value="-1" readonly/>
                    <input type="hidden" asp-for="Input.Categories[4]" id="cat4" value="-1" readonly/>
                    <ul id="tagList" style="min-height:70px;">
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group w-100 m-3" style="display:block">
                <button id="upload" type="submit" class="btn btn-primary w-100" value="Upload">Add</button>
            </div>
        </div>




    </form>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            document.getElementById('files').addEventListener('change', readImage, false);

            $(".preview-images-zone").sortable();

            $(document).on('click', '.image-cancel', function () {
                let no = $(this).data('no');
                $(".preview-image.preview-show-" + no).remove();
            });
        });



        var num = 4;
        function readImage() {
            if (window.File && window.FileList && window.FileReader) {
                var files = event.target.files; //FileList object
                var output = $(".preview-images-zone");

                for (let i = 0; i < files.length; i++) {
                    var file = files[i];
                    if (!file.type.match('image')) continue;

                    var picReader = new FileReader();

                    picReader.addEventListener('load', function (event) {
                        var picFile = event.target;
                        var html = '<div class="preview-image preview-show-' + num + '">' +
                            '<div class="image-cancel" data-no="' + num + '">x</div>' +
                            '<div class="image-zone"><img id="pro-img-' + num + '" src="' + picFile.result + '"></div>' +
                            '</div>';

                        output.append(html);
                        num = num + 1;
                    });

                    picReader.readAsDataURL(file);
                }
            } else {
                console.log('Browser not support');
            }
        }
        var tagnum = 0;
        function addTag() {
            if (tagnum <= 4) {
                var item = document.getElementById("Categories");
                var value = item.value;
                if (value != -1) {
                    var text = item.options[item.selectedIndex].text;

                    item.options[item.selectedIndex].remove();

                    //var output = $(".categories-box");
                    //var html = '<input type="text" data-val="true" data-val-required="The Id field is required." id="Input_Categories_' + value + '__Id" name="Input.Categories[' + tagnum + '].Id" value="' + value + '">';
                    //output.append(html);
                    for (var i = 0; i < 5; i++) {
                        var id = "cat" + i;
                        var input = document.getElementById(id);
                        if (input.value == -1) {
                            input.value = value;
                            break;
                        }
                    }





                    var ul = document.getElementById("tagList");
                    var li = document.createElement("li");

                    li.setAttribute("id", value);

                    li.innerHTML = text + ` <i class="fa-solid fa-xmark" onclick="removeTag(${value})"></i>`
                    ul.appendChild(li);
                    tagnum++;
                }
                
            }
            else {
                alert("Each product can only have 5 tags")
            }
        }
        function removeTag(element) {
            if (tagnum > 0) {
                var tag = document.getElementById(element);
                var text = tag.innerText;
                var value = element;

                //var id = "Input_Categories_" + element + "__Id";
                //var input = document.getElementById(id);

                for (var i = 0; i < 5; i++) {
                    var id = "cat" + i;
                    var input = document.getElementById(id);
                    if (input.value == value) {
                        input.value = -1;
                        break;
                    }
                }



                var selectList = document.getElementById("Categories");
                var option = document.createElement('option')

                option.value = value;
                option.text = text;
                selectList.appendChild(option);


                tag.remove();
                /*                input.remove();*/
                tagnum--;
            }
        }
    </script>

}
